

.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-sign, .btn-hero {
    padding: 8px 22px;
    background: #5000CA;
    color: #e4e2e2ed;
    border-radius: 6px;
}

.btn-hero {
    padding: 8px 37px;
    text-transform: uppercase;
}

.btn-sign:hover {
    background: #5a48c5e1;
}

.herotext h1 {
    color: #0a042be1;
}

.herotextt{
    color: #0a042be1;
    padding: 0%;
    padding-top: 20%;
}

.spectar {
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
    text-align: center;
}



.whyus{
    text-align: right;
    font-size: 20px;
    color: #20024e;
}

.it-text{
   margin-top: 50%;
}

.loantext .it-text .intrest{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0px;
    color: #4c09b8;
    text-align: left;

}


@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg1{
    margin-bottom: -5px;
    }

    .svg2{
        margin-top: -5px;
    }
    .loantext{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: #4c09b8;
        text-align:center;
        margin-bottom:10%;
    }
    .loanword{
        text-align: center;
    }
    
    .whyus{
        font-size: 20px;
        color: #20024e;
        text-align:center;
        margin-bottom: 7%;
    }
    .loantext .whyus{
        text-align: center;
    }

    .herotextt{
        text-align: center;
    }
    .hero-imgg{
        width: 20%;
    }

    .dawg{
        width: 300px;
    }
    
}


@media screen and (min-width:1200px) {
    .svg1{
        margin-bottom: -5px;
        }
    
        .svg2{
            margin-top: -5px;
        }
}
